/* Solely positioning; things such as colors are handled in JSX via Tailwind css */

@import "tailwindcss";

:root {
  --blueblack: #0D1B2A;
  --oxfordblue: #1B263B;
  --yinminblue: #415A77;
  --silverlakeblue: #778DA9;
  --platinum: #E0E1DD;
}

body {
  background-image: url(/photo-gallery/src/assets/background.jpg);
}

.container {
  display: grid;
  grid-template-columns: 20% 1fr;
  grid-template-areas: "aside" "image";
}

aside {
  grid-area: aside;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  & #links {
    margin-top: auto;
  }
  height: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 5rem;
}

.gallery-photo {
  position: relative;
  transition: transform .2s;
}

.gallery-photo:hover {
  border: 0.5rem  outset #778da96c;
  cursor: pointer;
  transform: scale(1.5);
  /* transform: rotateY(360deg); */
}